<html>
    <head>
        <title>Tokaido Companion App</title>

        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Vue.js -->
        <script src="https://unpkg.com/vue"></script>

        <!-- Our Stuff -->
        <link rel="stylesheet" href="css/css.css" />
        <script src="js/characters.js" />

        <script type="text/javascript">
            function selectRandomCharacter()
            {
                var index = Math.floor(CHARACTERS.length * Math.random());
                console.log(index);
                document.getElementById("character_container").innerHTML = CHARACTERS[index];
            }
            
            function selectRandomCharacters(event)
            {
                console.log("Random characters: " + Object.keys(event));
            }
        </script>
    </head>
    <body>
        <div class="container">
            <h1>Game Setup</h1>

            <section id="section-settings">
                <form>
                    <div class="form-group">
                        <strong>Select Number of Players</strong>
                        <br>
                        <label class="radio-inline" v-for="num in possible_players">
                            <input type="radio" :value="num" v-model.number="num_players"> {{ num }}
                        </label>
                    </div>
                    <div class="form-group">
                        <strong>Select Character Sets</strong>
                        <div class="checkbox" v-for="charset in all_charsets">
                            <label>
                                <input type="checkbox" :value="charset.code" :checked="charset.default" v-model="charsets">
                                {{ charset.desc }}
                            </label>
                        </div>
                    </div>
                </form>
                <div>
                    <p># Players: {{ num_players }}</p>
                    <p>Character Sets: {{ charsets }}</p>
                </div>
            </section>

            <script>
                var vm_settings = new Vue(
                {
                    el: '#section-settings',
                    data :
                    {
                        num_players: 2,
                        possible_players: [2, 3, 4, 5],
                        
                        charsets: ['base'],
                        all_charsets: CharacterSets,
                    }
                });
            </script>

            <h1>Select a Character</h1>

            <h2>Player 1</h2>

            <div class="row">
                <div class="col-sm-4">
                    <div class="center-block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <strong>
                                        <span class="character-name">Name</span>
                                        <br>
                                        <span class="character-occupation">the Occupation</span>
                                    </strong>
                                </div>
                                <div class="pull-right">
                                    <div class="coin">
                                        <img src="http://via.placeholder.com/35x35" class="img-circle" alt="Coins">
                                        <div><strong><span class="coin-x">&times;</span>6</strong></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <img src="http://via.placeholder.com/188x200" class="img-rounded center-block" alt="Name the Occupation">
                            </div>
                            <div class="panel-footer">
                                <img src="http://via.placeholder.com/188x65" class="img-rounded center-block" alt="Ability Description">
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->
                <div class="col-sm-4">
                    <div class="center-block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <strong>
                                        <span class="character-name">Name</span>
                                        <br>
                                        <span class="character-occupation">the Occupation</span>
                                    </strong>
                                </div>
                                <div class="pull-right">
                                    <div class="coin">
                                        <img src="http://via.placeholder.com/35x35" class="img-circle" alt="Coins">
                                        <div><strong><span class="coin-x">&times;</span>6</strong></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <img src="http://via.placeholder.com/188x200" class="img-rounded center-block" alt="Name the Occupation">
                            </div>
                            <div class="panel-footer">
                                <img src="http://via.placeholder.com/188x65" class="img-rounded center-block" alt="Ability Description">
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->
                <div class="col-sm-4">
                    <div class="center-block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <strong>
                                        <span class="character-name">Name</span>
                                        <br>
                                        <span class="character-occupation">the Occupation</span>
                                    </strong>
                                </div>
                                <div class="pull-right">
                                    <div class="coin">
                                        <img src="http://via.placeholder.com/35x35" class="img-circle" alt="Coins">
                                        <div><strong><span class="coin-x">&times;</span>6</strong></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <img src="http://via.placeholder.com/188x200" class="img-rounded center-block" alt="Name the Occupation">
                            </div>
                            <div class="panel-footer">
                                <img src="http://via.placeholder.com/188x65" class="img-rounded center-block" alt="Ability Description">
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->
            </div> <!-- row -->

            <h2>Player 2</h2>

            <div class="row">
                <div class="col-sm-4">
                    <div class="center-block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <strong>
                                        <span class="character-name">Name</span>
                                        <br>
                                        <span class="character-occupation">the Occupation</span>
                                    </strong>
                                </div>
                                <div class="pull-right">
                                    <div class="coin">
                                        <img src="http://via.placeholder.com/35x35" class="img-circle" alt="Coins">
                                        <div><strong><span class="coin-x">&times;</span>6</strong></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <img src="http://via.placeholder.com/188x200" class="img-rounded center-block" alt="Name the Occupation">
                            </div>
                            <div class="panel-footer">
                                <img src="http://via.placeholder.com/188x65" class="img-rounded center-block" alt="Ability Description">
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->
                <div class="col-sm-4">
                    <div class="center-block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <strong>
                                        <span class="character-name">Name</span>
                                        <br>
                                        <span class="character-occupation">the Occupation</span>
                                    </strong>
                                </div>
                                <div class="pull-right">
                                    <div class="coin">
                                        <img src="http://via.placeholder.com/35x35" class="img-circle" alt="Coins">
                                        <div><strong><span class="coin-x">&times;</span>6</strong></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <img src="http://via.placeholder.com/188x200" class="img-rounded center-block" alt="Name the Occupation">
                            </div>
                            <div class="panel-footer">
                                <img src="http://via.placeholder.com/188x65" class="img-rounded center-block" alt="Ability Description">
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->
                <div class="col-sm-4">
                    <div class="center-block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <strong>
                                        <span class="character-name">Name</span>
                                        <br>
                                        <span class="character-occupation">the Occupation</span>
                                    </strong>
                                </div>
                                <div class="pull-right">
                                    <div class="coin">
                                        <img src="http://via.placeholder.com/35x35" class="img-circle" alt="Coins">
                                        <div><strong><span class="coin-x">&times;</span>6</strong></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <img src="http://via.placeholder.com/188x200" class="img-rounded center-block" alt="Name the Occupation">
                            </div>
                            <div class="panel-footer">
                                <img src="http://via.placeholder.com/188x65" class="img-rounded center-block" alt="Ability Description">
                            </div>
                        </div>
                    </div>
                </div> <!-- col -->
            </div> <!-- row -->

        </div>
    </body>
</html>